@include media(md) {
    /*css override for javascript accordion*/
    .accordion-mobile .collapse {
        display: block!important;
        height: 100%!important;
    }
}

.filters .filter-reset {
    text-align: right;
    padding-right: 20px;
}
.filters .accordion {
    border-bottom: 1px solid $black;
}

.filters .accordion .accordion-trigger {
    color: $primary;
    margin: $margin-vertical--small 0;
}

.filters .accordion .lnr {
    float: right;
    position: relative;
    top: 7px;
    transition: $default-animation;

    transform: rotate(90deg);
}

.filters .accordion .collapsed .lnr {
    transform: rotate(0deg);
}


.filters .accordion-mobile,
.filters .filter-container {
    height: 0;
    display: block;
    overflow: hidden;
    @include media(md) { 
        height: auto!important;
    }

}

.product-listing .accordion-mobile.collapse.in,
.product-listing .filter-container.collapse.in {
    height: auto;
}

.filters > .row {
    margin-left: 0;
    margin-right: 0;
}
.filters.tab-pane {
    margin: $margin-vertical--small 0;
}

.filters .filter-header {
    background-color: $primary;
    color: $white;
    text-align: center;
    @include media(md) {
        background-color: transparent;
        text-align: left;
        padding: 0;
        color: $primary;
    }
}

.filters .filter-header a {
    color: $white;
    display: block;
    padding: 15px;
    @include media(md) { 
        color: $primary;
        padding: 0;
        text-decoration: none;
        cursor: default;
    }
}

.filters .filter-header > * {
    margin: 0;
    padding: 0;
}

.filters .filter-header,
.filters .filter-reset {
    height: 62px;
    @include media(md) { 
        height: auto;
    }
}

.filters .filter-reset {
    background-color: $white;
    border: 1px solid $primary;
    text-align: center;
    padding: $padding-vertical--small;
    margin: $margin-vertical--small 0;
    @include media(sm) {
        margin: 0;
    }
    @include media(md) {
        background-color: transparent;
        border: none;
        padding: 0;
        margin: 0;
        text-align: right;
        font-size: 23px;
        line-height: 1.5;
    }
}


.filters .accordion-mobile {}
.flexible-feature-area .accordion .accordion-trigger {
    font-size: 20px;
    background-color: $primary;
    color: $white;
    padding: $padding-vertical--small $padding-horizontal--small;
}

.flexible-feature-area .accordion span {
    float: right;
}

.accordion-icon:before {
    content: '-';
    padding-right: 9px;
    float: right;
}

.collapsed .accordion-icon:before {
    content: '+';
    padding-right: 5px
}