.logo > img {
    width: 75px;
}

.banner {
    text-align: center;
    position: relative;
}

.banner-copy {
    position: absolute;
    color: $white;
    top: 50%;
    width: 100%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}

.banner-background img {
    max-width: 100%;
}

.banner-buttons {
    display: block;
    float: none;
}


.banner-slide {
    position: relative; 
}

.banner-carousel.without-arrows .slick-arrow {
    display: none!important;
}
.slick-dots {
    position: relative;
    top: -50px;
    padding-left: 0;
}

.slick-dots li {
    display: inline;
}

.slick-dots li button {
    border-radius: 24px;
    padding: 12px;
    margin: 12px;
    height: 12px;
    width: 12px;
    background-color: $primary;
    color: transparent;
}

.slick-dots li.slick-active button {
    background-color: $light-gray;
}

.product-carousel .slick-dots {
    display: none!important;
}
.product-carousel .slick-prev, 
.product-carousel .slick-next {
    background: transparent;
}
.product-carousel .slick-prev:before, 
.product-carousel .slick-next:before {
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    color: $light-gray;
    font-size: 20px;
}
.product-carousel .slick-prev,
.product-carousel .slick-next {
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 50%;
    display: block;
    width: 20px;
    height: 20px;
    margin-top: -25px;
    padding: 0;
    cursor: pointer;
    color: $light-gray;
    border: none;
    outline: none;
    background: transparent;
}
.product-carousel .slick-prev {
    left: 25px;
}

.product-carousel .slick-next {
    right: 25px;
}
.product-carousel .slick-prev:before {
    content: "\e079";
}

.product-carousel .slick-next:before {
    content: "\e080";
}
.product-carousel .hero-sub-slider {
    padding: 0 50px;
}
.product-carousel .hero-sub-slider .flex-space {
    padding: 0 15px;
}