////
/// Clearfix allows one to adjust the parent of floated items so they help maintain the normal flow of a document. 

/// Clearfix Class
/// @name Clearfix

.compare-container {
    padding: 0;
    margin-bottom: $margin-vertical;
}

.compare-input {
    max-height: 56px;
    display: block;
    padding: 0 15px;
}

.compare-input.compare-empty {
    opacity: .3;
}

.compare-input.compare-empty img {
    height: 55px;
    opacity: 0;
}

.compare-border {
    height: 100%;
    border: 1px solid $primary;
}
.compare-input img {
    width: 59%;
}

.compare-remove {
    width: 41%;
    display: inline;
}

.compare-remove span {
    color: $primary;
    font-size: 30px;
    text-align: center;
    position: relative;
    left: 14px;
    top: 7px;
    cursor: pointer;
}