////
/// Flex space 
/// @group Flex Space 
.flex-space {
    margin-bottom: $margin-vertical;
}
.flex-space img {
  width: 100%;
}

.flex-space > * {
  /*margin: -15px;*/
}
.flex-space-interactive {
    overflow: hidden;
}
.flex-space-interactive button {
    position: absolute;
    bottom: 0;
    left: 15px;
    height: 30px;
    width: 30px;
    padding: 0;
    border: 1px solid $white;
    line-height: normal;
}

.flex-space-interactive button:before {
    content: '+';
}

.flex-space-interactive.active button:before {
    content: '-';
}

.flex-space-interactive > a:before {
    content: ' ';
    position: absolute;
    transition: $default-animation;
    background-color: rgba(20,57,88,0);
}
.flex-space-interactive.active > a:before {
    height: 100%;
    width: calc(100% - 30px);
    background-color: rgba(20,57,88,.5);
}
.flex-space-interactive .flex-space-copy {
    overflow: hidden;
    color: $white;
    opacity: 0;
    transition: $default-animation;
}

.flex-space-interactive .flex-space-copy a {
    color: $white;
}
.flex-space-interactive.active .flex-space-copy {
    opacity: 1;
}

.flex-space-interactive .flex-space-copy,
.flex-space-stacked .flex-space-copy {
    position: absolute;
    height: 100%;
    overflow: hidden;
    top: 0;
    padding: $padding-vertical;
}

.flex-space-stacked button {
    display: none;
}

.flex-space-copy > * {
    padding-top: 0;
    padding-bottom: 0;
}

/*.flex-space-copy {
    padding-bottom: $padding-vertical--small;
}*/

.flex-space-interactive .flex-space-copy p,
.flex-space-stacked .flex-space-copy p {
    
    font-size: $font-size--small;
}


.flex-space.col-md-4 .medium,
.flex-space.col-md-4 .large {
    display: none;
}

.flex-space.col-md-6 .small,
.flex-space.col-md-6 .large {
    display: none;
}

.flex-space.col-md-12 .small,
.flex-space.col-md-12 .medium {
    display: none;
}

.flex-space.col-md-3 .medium,
.flex-space.col-md-3 .large {
    display: none;
}


/* Page Specific Flex Space Styles */

.product-listing .flex-space-copy {
    overflow: hidden;
    @include media(sm){
        height: 330px;
    }
}

.product-listing .price-tag {
    @include media(sm){
        min-height: 37px;
    }
}