////
/// Imported Fonts
/// @group fonts

/// Frutiger - Bold
@font-face {
  font-family: Frutiger-Bold;
  src: url('fonts/FrutigerLTStd-Bold.ttf') format('opentype');
}

/// Frutiger Bold Italic
@font-face {
  font-family: Frutiger-BoldItalic;
  src: url('fonts/FrutigerLTStd-BoldItalic.ttf') format('opentype');
  font-weight: 100;
}

/// Frutiger Light
@font-face {
  font-family: Frutiger-Light;
  src: url('fonts/FrutigerLTStd-Light.ttf') format('opentype');
  font-weight: 200;
}

/// Frutiger Light Italic
@font-face {
  font-family: Frutiger-LightItalic;
  src: url('fonts/FrutigerLTStd-LightItalic.ttf') format('opentype');
  font-weight: 500;
}
