footer {
    padding: $padding-vertical 0;
    background-color: $primary;
    color: $white;
}

footer h3 {
  margin-bottom: 0;
}

footer h3 small {
  color: $white;
}

footer a {
  color: $white;
  text-decoration: none;
}

footer .lnr {
    float: right;
}

footer .container [class*='col-'] {
  margin-bottom: 0;
}

.back-to-top {
    border: 1px solid $primary;
    padding: $padding-vertical--small;
}
.back-to-top span {
    transition: $default-animation;
    top: 0;
    position: relative;
}
.back-to-top:hover {
    text-decoration: none;
}
.back-to-top:hover span {
    top: -10px;
}

