////
/// Form Elements
/// @group form 

// unstyled elements
datalist {}
fieldset {}
form {}
keygen {}
legend {}
meter {}
optgroup {}
option {}
output {}
progress {}
textarea {}
select {}

// styled elements
button, .btn, .btn-primary {
  background-color: $primary;
  border:none;
  box-sizing:border-box;
  color: $white;
  font-size: $font-size;
  font-family: $sans-serif;
  padding: 13px 0px;
  width:100%;
  outline: none;
  transition: $default-animation;
}

button[disabled],
html input[disabled] {
  opacity: .7;
}

.btn.disabled {
  opacity: .7;
}

button[disabled]:hover,
html input[disabled]:hover,
.btn.disabled:hover {
  background-color: $primary!important;
  cursor: default;
}
button:hover,
.btn:hover {
  background-color: $primary-dark;
  color: $white;
}

.btn-container button,
.btn-container .btn {
  margin-bottom: $margin-vertical--small;
}

.button-alt {
  border: 1px solid $white;
  transparent: .7;
  background-color: $primary;
}

.btn.btn-secondary {
  color: $primary;
  border: 1px solid $primary;
  background-color: transparent;
}

.btn.btn-secondary:hover {
  color: $white;
  background-color: $primary;
}

.list-filters {
  padding-left: 0;
}
.checkbox label {
  padding-left: 0;
}

.checkbox input {
  display: none;
}

.checkbox input,
.checkbox input + .psuedo-input {
  position: absolute;
  top: 0;
  right: 5px;
  height: 20px;
  width: 20px;
  border: 1px solid $primary;
  color: $white;
}

.checkbox.checkbox-left input,
.checkbox.checkbox-left input + .psuedo-input {
  left: 0;
}

.checkbox.checkbox-left {
  padding-left: 35px;
}

.checkbox input + .psuedo-input {
  top: 3px;
}

.checkbox input[type=checkbox]:checked,
.checkbox input[type=checkbox]:checked + .psuedo-input {
  background-color: $primary;
}

.checkbox input[type=checkbox]:disabled,
.checkbox input[type=checkbox]:disabled + .psuedo-input {
  opacity: .3;
}

.checkbox.disabled {
  opacity: .3;
}

.checkbox input[type=checkbox]:checked + .psuedo-input:after {
  content: '\2714';
  position: relative;
  top: -5px;
  right: -3px;
}

.form-control {
  border: 1px solid $primary;
  border-radius: 0!important;
}

.select-container {
  margin-bottom: 30px;
}

.select-form-container label {
  display: inline;
}

input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border:none;
  box-sizing:border-box;
  display: block;
  font-family: $sans-serif;
  font-size: $font-size;
  line-height: 1.25em;
  margin: 15px auto;
  padding: $padding-vertical--small;
  width:100%;
  border: 1px solid $primary;

  &:focus {
    
  }

  &[type="button"] {}
  &[type="checkbox"] {}
  &[type="color"] {}
  &[type="date"] {}
  &[type="datetime"] {}
  &[type="date-time-local"] {}
  &[type="email"] {}
  &[type="file"] {}
  &[type="hidden"] {}
  &[type="image"] {}
  &[type="month"] {}
  &[type="number"] {}
  &[type="password"] {}
  &[type="radio"] {}
  &[type="range"] {}
  &[type="reset"] {}
  &[type="search"] {}
  &[type="submit"] {}
  &[type="tel"] {}
  &[type="text"] {
    color: $primary;
  }
  &[type="time"] {}
  &[type="url"] {}
  &[type="week"] {}
}
label {
  font-family:$sans-serif;
  font-size:$font-size;
  color: $gray;
  display: block;
}

.btn-primary.active, 
.btn-primary:active,
.open > .dropdown-toggle.btn-primary {
  background-color: $primary-dark!important;
  border-color: $white;
}

.btn-primary.focus,
.btn-primary:focus {
  background-color: $primary;
}


textarea {
  width: 100%;
  height: 150px;
  border: 1px solid $primary;
  padding: $padding-vertical--small;
}

.modal-header button {
  width: auto;
}

.form-control {
  font-size: 18px;
}

.select-form-container {
  margin-top: 15px;
}