////
/// Header Elements
/// @group header

header {
  background-color: $primary;
}

header .container-fluid {
  @include media(lg) {
    width: $screen-lg-container;
  }
}

header .lnr {
  font-size: ceil($font-size * 1.8);
}


.navigation {
  text-align: right;
}

.navigation  ul {
  list-style: none;
  padding: $padding-vertical 0;
  margin: 0;
}

.navigation li {
  display: inline;
  color: $white;
  /*padding-left: $padding-horizontal;*/
}

.navigation a {
    color: $white;
    padding: 0;
    text-decoration: none;
}

.navigation a:hover {
    color: $white;
    text-decoration: underline;
}

.navigation text {
  text-decoration: none;
}

.primary-nav > li {
  position: relative;
  padding: 30px;
  margin-right: -30px;
  top: 5px;
}

.primary-nav a {
  padding: 0;
  padding: 15px;
}

.navbar-desktop .utility-nav {
  position: relative;
  top: $padding-vertical--small;
}
.utility-nav {
  font-size: $font-size--small;
  padding: 0 !important;
}

.utility-nav li {
  display: inline;
}
.utility-nav a {
  text-decoration: none;
  padding-right: 12px;
}
.utility-nav a:after {
  padding-left: 12px;
  content: '|';
}

.navbar-desktop {
  min-height: 92px;
}
.navbar-logo {
  float: left;
}

.navbar-logo img {
  padding: 15px 0;
  @include media(lg) {
    padding: 24px 0;
  }
}

.mobile-nav li {
  padding-left: 0;
  margin-left: $margin-horizontal;
}
.mobile-nav a:hover {
  text-decoration: none;
}

.mobile-menu {
  position: absolute;
  width: 100%;
  font-size: $font-size;
  z-index: $z-level-fore;
  right: -100%;
  transition: $default-animation;
}

.mobile-menu.active {
  right: 0;
}

.mobile-menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.mobile-menu li {
  background-color: $primary;
  border-top: 1px solid $primary-light;
}

.mobile-menu a {
  display: block;
  padding: 15px;
  color: $white;
  text-decoration: none;
}

.mobile-menu a:hover {
  color: $white;
  background-color: $primary-dark;
}

.mobile-menu a .lnr {
  margin-top: -5px;
}
.mobile-menu a .lnr:first-of-type {
  float: left;
  width: 50px;
  height: 50px;
}

.mobile-menu a .lnr:last-of-type {
  float: right;
}


/* Animation Bits */ 

.mobile-menu [class*="mobile-menu--"] ~ ul {
  top: 0;
  right: -200%;
  width: 100%;
  position: absolute;
  transition: $default-animation;
  background-color: $primary;
  height: 2000px;
}
.mobile-menu.subnav-active > ul > li {
  background-color: transparent;
}
.mobile-menu.subnav-active > ul > li > a {
  display: none;
  opacity: 0;
}

.mobile-menu .active ~ ul > li > a {
  opacity: 1;
}

.mobile-menu .active ~ ul {
  right: 0%;
}

.mobile-menu .lnr-arrow-right {
  display: none;
}

.mobile-menu .mobile-menu-trigger--sub .lnr-arrow-right {
  display: inline;
}

/* Desktop Opened Menu */
.primary-nav > li:hover {
  background-color: $primary-dark;
}
.primary-nav > li:hover .desktop-mega-menu,
.primary-nav > li:hover .desktop-list-menu {
  display: block;
}

.desktop-mega-menu,
.desktop-list-menu {
  display: none;
  position: absolute;
  top: 80px;
  background-color: $primary-dark;
  z-index: $z-level-fore;
}

.desktop-mega-menu {
  padding: $padding-horizontal 0;
}

.desktop-list-menu ul li {
  display: block;
}
.desktop-list-menu {
  right: 0;
  width: 200px;
}

.desktop-list-menu {
  /* This is an offset because the list-menu doesn't have a title */
  padding-top: 8px;
  padding-right: $padding-horizontal;
}

.desktop-mega-menu ul {
  padding: 0;
  text-align: left;
}

.desktop-mega-menu .list-unstyled {
  padding-left: $padding-horizontal;
}

.desktop-mega-menu li {
  display: block;
}

.desktop-mega-menu a {
  font-size: $font-size--small;
  padding-left: 0;

  @include media(lg) {
    font-size: $font-size
  }

}

.desktop-mega-menu h3,
.desktop-mega-menu h3 small {
  color: $white;
  margin-bottom: 0;
}

.breadcrumb {
  background: none;
}
.breadcrumb .utility-nav {
  margin-top: $margin-vertical;
}