////
/// List Elements
/// @group list 

// unstyled elements
ul {
    padding-left: $font-size;
    margin-bottom: $margin-vertical--small;
}

ol {
    padding-left: $font-size--large;
    margin-bottom: $margin-vertical--small;
}

// styled elements
li {
  line-height: 1.5em;
}

.pagination.utility-nav ul {
    padding-left: 0;
}

.pagination.utility-nav a {
    font-size: $font-size;
    padding: 5px 10px;
    top: -3px;
    position: relative;
}

.pagination.utility-nav .first a,
.pagination.utility-nav .last a {
    top: 0;
}

.pagination.utility-nav li:hover a,
.pagination.utility-nav .active a {
    background-color: $primary;
    color: $white;
}

.pagination.utility-nav li.first:hover a,
.pagination.utility-nav li.last:hover a {
    background-color: transparent;
    color: $primary;
}

.pagination.utility-nav a:after {
    display: none;
}