////
/// Sectioning Elements
/// @group media 

// unstyled elements
address {}
article {}
footer {}
header {}
nav {}
section {}

// styled elements
body {
  background-color: $white;
  color: $gray;
  font-family: $sans-serif;
  font-size: $font-size;
  font-weight: normal;
  line-height: 1.5em;
  margin: 0px;
  padding: 0px;
  text-rendering: optimizeLegibility;
}

.page-wrapper {
  position: relative;
  overflow: hidden;
  z-index: $z-level-mid;
}

.container {
  margin: 0 auto;
  @include media(lg) {
    padding: 0;
  }
}

.container .container {
  padding: 0;
}

.container-fluid {
  @include media(lg) {
    padding: 0;
  }
}
/*****************
  Sectioning Classes
******************/
/*.container {
  margin: 0px $margin-horizontal;
  padding: 0px $padding-horizontal;
  box-sizing: border-box;
}*/

.extra-spaccing {
  padding: 20px 0;
  margin-bottom: 20px;
}