////
/// Table Elements
/// @group tabel 

caption {}

col {}

colgroup {}

table {
  box-sizing: border-box;
  width: 100%;
  font-size: $font-size;
}

tbody {}

td {
  border: 1px solid $primary;
  box-sizing: border-box;
  padding: $padding-vertical--small $padding-horizontal--small;
  text-align: left;
}

tfoot {}

th {
  border: 1px solid $primary;
  box-sizing: border-box;
  background-color: $primary;
  color: $white;
  padding: $padding-vertical--small $padding-horizontal--small;
  text-align: left;
}

thead {}

.stripped-table {
  border: 1px solid $primary;
}
.stripped-table th {
  background-color: transparent;
  color: $primary;
}

.stripped-table th,
.stripped-table td {
  border: none;
}


.stripped-table td {
  background-color: $light-gray;
  border: 1px solid $primary;
}
.compare-table.horizontal-border {
  min-width: 800px;
}
.compare-table th {
  padding: $padding-vertical--small $padding-horizontal;
}

.horizontal-border td,
.horizontal-border th {
  border: none;
}

.horizontal-border th {
  color: $primary;
  background-color: transparent;
}

.horizontal-border tr {
  border-bottom: 1px solid $primary;
}

/*.horizontal-border td {
  border-right: 1px solid $primary;
}*/
tr {}

.table-responsive-hi {
  width: 100%;
  overflow-y: hidden;
}