.tab-component {
    margin-top: $margin-vertical--small;
    padding: $padding-vertical--small;
    border-top: 1px solid $primary;

    @include media(sm){ 
        padding: $padding-vertical--small 0;
    }
}

.nav-tabs {
    border-bottom: none;
}

.nav-tabs > li > a {
    font-size: ceil($font-size * 1.25);
    text-decoration: none;
    border: none;
    border-radius: none;
}

.nav-tabs > li.active > a:before {
    content: '';
    position: absolute;
    left: 50%;
    margin-left: -10px;
    top: -16px;
    width: 0; 
    height: 0; 
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid $primary;

}

.nav-tabs > li > a:hover,
.nav-tabs > li > a:focus {
    background-color: transparent;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a:hover {
    border: none;
}


.tab-content {
    margin-top: $margin-vertical;
}

.tab-content .accordion-trigger {
    font-size: 20px;
    background-color: $primary;
    color: $white;
    margin: $margin-vertical--small;
    padding: $padding-vertical--small $padding-horizontal--small;
}


/* Tab to Accordion Shenanigans */
.accordion-mobile .nav-tabs {
    display: none;
    @include media(md){ 
        display: block;
    }
}

.accordion-mobile .tab-content > .tab-pane {
    height: 0;
    display: block;
    overflow: hidden;
    @include media(md) {
        overflow: visible;
        display: none;
    }
}

.accordion-mobile .tab-content > .tab-pane.in {
    height: auto;
}

.accordion-mobile .tab-content > .tab-pane.active {
    @include media(md) { 
        height: auto;
        display: block;
    }
}

.accordion-mobile .accordion-trigger {
    @include media(md){ 
        display: none;
    }
}