////
/// Breakpoint size variables & definitions.
/// @group Breakpoints

/// Extra Small
/// @type ScreenSize
$screen-xs:  480px;


/// Extra Small
/// @type ScreenSize
$screen-logo: 550px;

/// Small
/// @type ScreenSize
$screen-sm:  768px;

/// Medium
/// @type ScreenSize
$screen-md:  992px;

/// Large
/// @type ScreenSize
$screen-lg:  1200px;

$screen-lg-container: 1170px;

$default-animation: .35s all;