//-
//- @layout: Layout
//- @group: Global
//- @type:
//- @description:
//- @author:
//- @comments:
//-
doctype html
html(lang="en")
  head
    title= pageTitle
    
    block meta
      meta(charset="utf-8")
      meta(name="apple-mobile-web-app-capable" content="yes")
      meta(name="viewport" content="width=device-width, initial-scale=1")
      meta(name="description" content="")
      meta(name="keywords" content="")

    block links
      link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css")
      link(type="text/css" rel="stylesheet" media="all" href="css/stylesheet.css")
    
  body
    .page-wrapper
      .svg-store
        include ../../svg/svg.min.jade

      include ../../components/navigation/navigation.jade

      <!-- CONTENT -->
      block content
      <!-- /CONTENT -->

      include ../partials/footer.jade
    .modal.fade(id="modal")
      .modal-dialog
        .modal-content
          .modal-header
            button.close(data-dismiss="modal") Close X
          .modal-body 
            h2 Placeholder Form / Modal
            | This is an example modal / form with placeholder content. Form fields will be determined in sitecore.
            .form-group
              input(type="text", placeholder="First Name")
            .form-group
              input(type="password", placeholder="Last Name")
            .form-group
              input(type="text", placeholder="Email Address")
            .form-group
              input(type="text", placeholder="Phone Number")
            .form-group
              textarea(type="text", placeholder="Leave us a message")
            .form-group
              button.btn.btn-primary Submit

    block scripts
      script(type="text/javascript" src="js/libs.min.js")
      script(type="text/javascript" src="js/main.min.js")