//-
//- @component: accordion
//- @group: Styleguide
//- @type:
//- @description:
//- @author:
//- @comments:
//-
mixin accordion()
  section.item
    h3.heading(id="accordion") Accordion
    div.container
        div.flexible-feature-area
            section.accordion
                h4.collapsed.accordion-trigger(data-toggle="collapse",href="#need",aria-expanded="false",aria-controls="collapseExample") Accordion
                    span.accordion-icon
                div(id="need").collapse
                   | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.