//-
//- @component: Filter
//- @group: Styleguide
//- @type:
//- @description:
//- @author:
//- @comments:
//-
mixin filter()
  section.item
    h3.heading(id="Filter") List with Checkbox
    div.container
        ul(id="category").list-filters
                li.checkbox
                    label Category Filter # 1
                      input(type="checkbox")
                      span.psuedo-input
                li.checkbox
                    label Category Filter # 2
                      input(type="checkbox")
                      span.psuedo-input
                li.checkbox
                    label Category Filter # 3
                      input(type="checkbox")
                      span.psuedo-input