//-
//- @component: Rich Text
//- @group: Styleguide
//- @type:
//- @description:
//- @author:
//- @comments:
//-
mixin social()
  section.item
    h3.heading(id="badges") Social List
    div.container
        .row
            .col-sm-12
                
                ul.list-unstyled.social-list
                    li
                        a(href="#")
                            | share
                    li
                        a(href="#")
                            i.fa.fa-twitter
                    li
                        a(href="#")
                            i.fa.fa-linkedin
                    li
                        a(href="#")
                            i.fa.fa-youtube
                    li
                        a(href="#")
                            i.fa.fa-facebook
                    li
                        a(href="#")
                            i.fa.fa-pinterest-p

