//-
//- @component: Rich Text
//- @group: Styleguide
//- @type:
//- @description:
//- @author:
//- @comments:
//-
mixin textspace()
  section.item
    h3.heading(id="badges") Text Space
    div.container
        .row
            .col-sm-12
                h2 Title of Rich Text Space
                p Unique features like X-Rite Ambient Light Smart Control and our Automatic Display Control makes profiling so easy, while delivering color accuracy and consistency time and time again. We want your life to be perfect. Let’s start with ColorMunki calibrated and profiled displays.
                h3 Title of List
                ul
                    li Feature One
                    li Feature Two
                    li Feature Three
                    li Feature Four
