//-
//- @page: Homepage
//- @group: Global
//- @type:
//- @description:
//- @author:
//- @comments:
//-
extend ../layouts/layout.jade

append content
  nav.container.breadcrumb
    ul.utility-nav(style="margin-bottom: 30px;")
      li
        a(href="#") Home
      li
        a(href="#") Products
      li
        a(href="#") Software
      li
        a(href="#") Colormunki
  article(itemscope itemtype="http://schema.org/Product")
    section
      .container
        .row
          .col-sm-12.col-md-7.product-carousel
            .hero-slider
              .flex-space
                img(src="http://placehold.it/700x350")
              .flex-space
                img(src="http://placehold.it/700x352")
              .flex-space
                img(src="http://placehold.it/700x353")
              .flex-space
                img(src="http://placehold.it/700x351")
              .flex-space
                img(src="http://placehold.it/700x352")
              .flex-space
                img(src="http://placehold.it/700x353")
            .hero-sub-slider.row
                .flex-space
                  img(src="http://placehold.it/700x350")
                .flex-space
                  img(src="http://placehold.it/700x352")
                .flex-space
                  img(src="http://placehold.it/700x353")
                .flex-space
                  img(src="http://placehold.it/700x351")
                .flex-space
                  img(src="http://placehold.it/700x352")
                .flex-space
                  img(src="http://placehold.it/700x353")
          .col-sm-12.col-md-5
            h5(itemprop="model")
              small Model #: 1234567
            h2(itemprop="name") Colormunki Display
            h4.primary(itemprop="offers" itemscope itemtype="http://schema.org/PriceSpecification") 
              span(itemprop="priceCurrency") $
              span(itemprop="price") 189.00 
              small(itemprop="addOn") FREE SHIPPING
            p(itemprop="description") No guesswork. No stress. No frustration. No wasted time or lost billable hours. Just an amazingly calibrated display or projector that accurately displays the color in your original picture or digital file. Our wizard-driven interface makes it quick and easy for you to calibrate and profile your displays at the speed of life.
            .row
              .col-sm-12
                button.btn.btn-primary(data-toggle="modal", data-target="#modal") Request a Quote
            .row
              .col-sm-12
                ul.list-unstyled.social-list
                    li
                      | share
                    li
                        a(href="#")
                            i.fa.fa-twitter
                    li
                        a(href="#")
                            i.fa.fa-linkedin
                    li
                        a(href="#")
                            i.fa.fa-youtube
                    li
                        a(href="#")
                            i.fa.fa-facebook
                    li
                        a(href="#")
                            i.fa.fa-pinterest-p
      .container
        .flexible-feature-area
          section.accordion
            h4.collapsed.accordion-trigger(data-toggle="collapse",href="#need",aria-expanded="false",aria-controls="collapseExample") Flexible Feature Area
                span.accordion-icon
            div(id="need").collapse
               | No guesswork. No stress. No frustration. No wasted time or lost billable hours. Just an amazingly calibrated display or projector that accurately displays the color in your original picture or digital file. Our wizard-driven interface makes it quick and easy for you to calibrate and profile your displays at the speed of life. No guesswork. No stress. No frustration. No wasted time or lost billable hours. Just an amazingly calibrated display or projector that accurately displays the color in your original picture or digital file. Our wizard-driven interface makes it quick and easy for you to calibrate and profile your displays at the speed of life.
      section.tab-component.accordion-mobile.container
          .row
            ul.nav.nav-tabs.col-sm-12
              li.active
                a(href="#overview", data-toggle="tab") Overview
              li
                a(href="#specification", data-toggle="tab") Specification
              li
                a(href="#training", data-toggle="tab") Training and Support
              li
                a(href="#testimonials", data-toggle="tab") Case Studies &amp; Testimonials

          .row.tab-content
            h4.collapsed.accordion-trigger(data-toggle="collapse",href="#overview",aria-expanded="false",aria-controls="collapseExample") Overview
                span.accordion-icon
            #overview.tab-pane.active
              .col-sm-12.col-md-9
                  h2 Overview
                  p Unique features like X-Rite Ambient Light Smart Control and our Automatic Display Control makes profiling so easy, while delivering color accuracy and consistency time and time again. We want your life to be perfect. Let’s start with ColorMunki calibrated and profiled displays.
                  h3 Enhanced Features:
                  ul
                      li Technologically advanced and ergonomic multi-functional measurement device
                      li Easy to use software – “Easy” and “Advanced” modes with simple one-click presets or wizard-driven options for more control
                      li Free ColorTRUE mobile app for calibrating Apple® iOS and Android® mobile devices
                      li Intelligent Iterative Profiling – an adaptive technology that measures and analyzes the color capabilities
                      li X-Rite Ambient Light Smart Control - measurement, compensation and ongoing monitoring of ambient lighting conditions
                      li X-Rite Flare Correct™ - measurement and compensation of display surface glare
                      li Automatic Display Control (ADC) adjusts your display’s hardware to speed up process and eliminate
                      li Broadcast video standards support: NTSC, PAL SECAM, and ITU-R Rec.BT.709 manual adjustments
              .flex-space.col-sm-12.col-md-3
                  img.small(src="http://placehold.it/400x285")
                  img.medium(src="http://placehold.it/400x285")
                  img.large(src="http://placehold.it/400x285")
                  h3 
                      a(href="#") Video 1
              .flex-space.col-sm-12.col-md-3
                  img.small(src="http://placehold.it/400x285")
                  img.medium(src="http://placehold.it/400x285")
                  img.large(src="http://placehold.it/400x285")
                  h3 
                      a(href="#") Video 2
            
            h4.collapsed.accordion-trigger(data-toggle="collapse",href="#specification",aria-expanded="false",aria-controls="collapseExample") Specifications
                span.accordion-icon
            #specification.tab-pane
              .col-sm-12.col-md-12
                  h2 Specifications
                  p No guesswork. No stress. No frustration. No wasted time or lost billable hours. Just an amazingly calibrated display or projector that accurately displays the color in your original picture or digital file. Our wizard-driven interface makes it quick and easy for you to calibrate and profile your displays at the speed of life.
                  h3 List of Features
                  table.stripped-table
                    tbody
                        tr
                          th Optical Apeture
                        tr
                          td 8mm measurement area / 14mm target window
                        tr
                          th Light Source
                        tr
                          td Gas-filled tungsten lamp
                        tr
                          th Inter-Instrument Agreement
                        tr
                          td CIE *a*b*: Ave .4 E*ab based on ave. of 12 BCRA Series II titles (specular component included) Max .6 E*ab on any title (specular component] included)


            h4.collapsed.accordion-trigger(data-toggle="collapse",href="#training",aria-expanded="false",aria-controls="collapseExample") Training
                span.accordion-icon
            #training.tab-pane
              .col-sm-12.col-md-9
                  h2 Training and Support
                  p Unique features like X-Rite Ambient Light Smart Control and our Automatic Display Control makes profiling so easy, while delivering color accuracy and consistency time and time again. We want your life to be perfect. Let’s start with ColorMunki calibrated and profiled displays.
                  h3 List of Features
                  table
                    tbody
                        tr
                          th Optical Apeture
                        tr
                          td 8mm measurement area / 14mm target window
                        tr
                          th Light Source
                        tr
                          td Gas-filled tungsten lamp
                        tr
                          th Inter-Instrument Agreement
                        tr
                          td CIE *a*b*: Ave .4 E*ab based on ave. of 12 BCRA Series II titles (specular component included) Max .6 E*ab on any title (specular component] included)
              .flex-space.col-sm-12.col-md-3
                  img.small(src="http://placehold.it/400x285")
                  img.medium(src="http://placehold.it/400x285")
                  img.large(src="http://placehold.it/400x285")
                  h3 
                      a(href="#") Video 1
              .flex-space.col-sm-12.col-md-3
                  img.small(src="http://placehold.it/400x285")
                  img.medium(src="http://placehold.it/400x285")
                  img.large(src="http://placehold.it/400x285")
                  h3 
                      a(href="#") Video 2

            h4.collapsed.accordion-trigger(data-toggle="collapse",href="#testimonials",aria-expanded="false",aria-controls="collapseExample") Testimonials
                span.accordion-icon
            #testimonials.tab-pane
              .col-sm-12
                    h2 Training and Support
                    p Unique features like X-Rite Ambient Light Smart Control and our Automatic Display Control makes profiling so easy, while delivering color accuracy and consistency time and time again. We want your life to be perfect. Let’s start with ColorMunki calibrated and profiled displays.
                    h3 List of Features
                    table.horizontal-border
                      tbody
                          tr
                            th Optical Apeture
                          tr
                            td 8mm measurement area / 14mm target window
                          tr
                            th Light Source
                          tr
                            td Gas-filled tungsten lamp
                          tr
                            th Inter-Instrument Agreement
                          tr
                            td CIE *a*b*: Ave .4 E*ab based on ave. of 12 BCRA Series II titles (specular component included) Max .6 E*ab on any title (specular component] included)
          hr


      section.tab-component.accordion-mobile.container
          .row
            ul.nav.nav-tabs.col-sm-12
              li.active
                a(href="#example1", data-toggle="tab") Layout 1
              li
                a(href="#example2", data-toggle="tab") Layout 2
              li
                a(href="#example3", data-toggle="tab") Layout 3
          .row.tab-content
            h4.collapsed.accordion-trigger(data-toggle="collapse",href="#example1",aria-expanded="false",aria-controls="collapseExample") Example 1
                span.accordion-icon
            #example1.tab-pane.active.clearfix
              .col-sm-12
                h2 Full Width Container
                p Unique features like X-Rite Ambient Light Smart Control and our Automatic Display Control makes profiling so easy, while delivering color accuracy and consistency time and time again. We want your life to be perfect. Let’s start with ColorMunki calibrated and profiled displays.
              .col-md-6
                h3 Half Width Container
                p Unique features like X-Rite Ambient Light Smart Control and our Automatic Display Control makes profiling so easy, while delivering color accuracy and consistency time and time again. We want your life to be perfect. Let’s start with ColorMunki calibrated and profiled displays.
              .col-md-6
                h3 Half Width Container
                p Unique features like X-Rite Ambient Light Smart Control and our Automatic Display Control makes profiling so easy, while delivering color accuracy and consistency time and time again. We want your life to be perfect. Let’s start with ColorMunki calibrated and profiled displays.
            h4.collapsed.accordion-trigger(data-toggle="collapse",href="#example2",aria-expanded="false",aria-controls="collapseExample") Example 2
                span.accordion-icon
            #example2.tab-pane.clearfix
              .col-sm-12.col-md-12
                h2 Full Width Container
                p Unique features like X-Rite Ambient Light Smart Control and our Automatic Display Control makes profiling so easy, while delivering color accuracy and consistency time and time again. We want your life to be perfect. Let’s start with ColorMunki calibrated and profiled displays.
              .col-md-9
                h3 2/3 Width Container
                p Unique features like X-Rite Ambient Light Smart Control and our Automatic Display Control makes profiling so easy, while delivering color accuracy and consistency time and time again. We want your life to be perfect. Let’s start with ColorMunki calibrated and profiled displays.
              .col-md-3
                h3 1/3 Width Container
                p Unique features like X-Rite Ambient Light Smart Control and our Automatic Display Control makes profiling so easy.
            h4.collapsed.accordion-trigger(data-toggle="collapse",href="#example3",aria-expanded="false",aria-controls="collapseExample") Example 3
                span.accordion-icon
            #example3.tab-pane.clearfix
              .col-sm-12.col-md-12
                h2 Full Width Container
                p Unique features like X-Rite Ambient Light Smart Control and our Automatic Display Control makes profiling so easy, while delivering color accuracy and consistency time and time again. We want your life to be perfect. Let’s start with ColorMunki calibrated and profiled displays.
              .col-md-3
                h3 1/3 Width Container
                p Unique features like X-Rite Ambient Light Smart Control and our Automatic Display Control makes profiling so easy, while delivering color accuracy and consistency time and time again. We want your life to be perfect. Let’s start with ColorMunki calibrated and profiled displays.
              .col-md-9
                h3 2/3 Width Container
                p Unique features like X-Rite Ambient Light Smart Control and our Automatic Display Control makes profiling so easy.

           
          hr
      .container
        h2 You may also like
        .row
          .flex-space.col-sm-4
            img(src="http://placehold.it/360x200")
            .flex-space-copy
              h3 
                a(href="#") Product Title 1
              p Product Short Description
            .price-tag
              h4 329.00
                small free shipping
            .btn-container
              button.btn.btn-primary View Details
          .flex-space.col-sm-4
            img(src="http://placehold.it/360x200")
            .flex-space-copy
              h3 
                a(href="#") Product Title 1
              p Product Short Description
            .price-tag
              h4 329.00
                small free shipping
            .btn-container
              button.btn.btn-primary View Details
          .flex-space.col-sm-4
            img(src="http://placehold.it/360x200")
            .flex-space-copy
              h3 
                a(href="#") Product Title 1
              p Product Short Description
            .price-tag
              h4 329.00
                small free shipping
            .btn-container
              button.btn.btn-primary View Details
        hr
      .container
        h2 Product Compare   
        .table-responsive-hi
          table.compare-table.horizontal-border.col-xs-12
            tbody
                tr
                  th
                  td(style="padding: 0")
                    .flex-space.col-xs-12
                      img(src="http://placehold.it/360x200")
                      .flex-space-copy
                        h3 
                          a(href="#") Product 1
                      .btn-container
                        button.btn.btn-secondary Details Anzeigen
                  td(style="padding: 0")
                    .flex-space.col-xs-12
                      img(src="http://placehold.it/360x200")
                      .flex-space-copy
                        h3 
                          a(href="#") Product 2
                      .btn-container
                        button.btn.btn-secondary Details Anzeigen
                  td(style="padding: 0")
                    .flex-space.col-xs-12
                      img(src="http://placehold.it/360x200")
                      .flex-space-copy
                        h3 
                          a(href="#") Product 3
                      .btn-container
                        button.btn.btn-secondary Details Anzeigen
                tr
                  th.col-xs-3 Price
                  td.col-xs-3 $2,300
                  td.col-xs-3 $2,300
                  td.col-xs-3 $2,300
                tr
                  th.col-xs-3 Light Source
                  td.col-xs-3 Gas-filled tungsten lamp
                  td.col-xs-3 Lorum Pixel Mixum Ipsum
                  td.col-xs-3 N/A
                tr
                  th.col-xs-3 Price
                  td.col-xs-3 $2,300
                  td.col-xs-3 $2,300
                  td.col-xs-3 $2,300
                tr
                  th.col-xs-3 Light Source
                  td.col-xs-3 Gas-filled tungsten lamp
                  td.col-xs-3 Lorum Pixel Mixum Ipsum
                  td.col-xs-3 N/A
      .container
        h2 Parts and Accessories
        .row
          .flex-space.col-sm-4
            img(src="http://placehold.it/360x200")
            .flex-space-copy
              h3 
                a(href="#") Product Title 1
              p Product Short Description
            .price-tag
              h4 329.00
                small free shipping
            .btn-container
              button.btn.btn-primary View Details
          .flex-space.col-sm-4
            img(src="http://placehold.it/360x200")
            .flex-space-copy
              h3 
                a(href="#") Product Title 1
              p Product Short Description
            .price-tag
              h4 329.00
                small free shipping
            .btn-container
              button.btn.btn-primary View Details
          .flex-space.col-sm-4
            img(src="http://placehold.it/360x200")
            .flex-space-copy
              h3 
                a(href="#") Product Title 1
              p Product Short Description
            .price-tag
              h4 329.00
                small free shipping
            .btn-container
              button.btn.btn-primary View Details


