//-
//- @page: Homepage
//- @group: Global
//- @type:
//- @description:
//- @author:
//- @comments:
//-
extend ../layouts/layout.jade

append content
  nav.container.breadcrumb
    ul.utility-nav(style="margin-bottom: 30px;")
      li
        a(href="#") product listing
      li
        a(href="#") Products
  .container
    .row
      .col-sm-12
        h2 Product Comparison Version 2
        | 
  .container(style="margin-bottom: 30px")
    .row
      .table-responsive-hi
        table.compare-table.horizontal-border.col-xs-12
          tbody
              tr
                th
                td(style="padding: 0")
                  .flex-space.col-xs-12
                    img(src="http://placehold.it/360x200")
                    .flex-space-copy
                      h3 
                        a(href="#") Product 1
                    .btn-container
                      button.btn.btn-secondary Details Anzeigen
                td(style="padding: 0")
                  .flex-space.col-xs-12
                    img(src="http://placehold.it/360x200")
                    .flex-space-copy
                      h3 
                        a(href="#") Product 2
                    .btn-container
                      button.btn.btn-secondary Details Anzeigen
                td(style="padding: 0")
                  .flex-space.col-xs-12
                    img(src="http://placehold.it/360x200")
                    .flex-space-copy
                      h3 
                        a(href="#") Product 3
                    .btn-container
                      button.btn.btn-secondary Details Anzeigen
              tr
                th.col-xs-3 Price
                td.col-xs-3 $2,300
                td.col-xs-3 $2,300
                td.col-xs-3 $2,300
              tr
                th.col-xs-3 Light Source
                td.col-xs-3 Gas-filled tungsten lamp
                td.col-xs-3 Lorum Pixel Mixum Ipsum
                td.col-xs-3 N/A
              tr
                th.col-xs-3 Price
                td.col-xs-3 $2,300
                td.col-xs-3 $2,300
                td.col-xs-3 $2,300
              tr
                th.col-xs-3 Light Source
                td.col-xs-3 Gas-filled tungsten lamp
                td.col-xs-3 Lorum Pixel Mixum Ipsum
                td.col-xs-3 N/A
