//-
//- @page: Styleguide
//- @group: Styleguide
//- @type:
//- @description:
//- @author:
//- @comments:
//-
extend ../layouts/styleguide.jade

include ../styleguide/design/index.jade
include ../styleguide/ui-components/index.jade
include ../styleguide/widgets/index.jade
include ../../components/list/list.jade

append content
    article.container
      section.main
        h1.heading Horizontal Integration Style Guide
        
        p This is the living style guide for Horizontal Integration. Inside you will find base styles that the entire site will adhere to.
        section.sections
          +design()
