//-
//- @component: Navigation
//- @type:
//- @description:
//- @author:
//- @comments:
//-
<!-- HEADER -->
header
  div.container-fluid
    nav.navigation
      a(href="index.html").navbar-logo
            picture.logo
              img(src="assets/logo-small.png",alt="This picture loads on non-supporting browsers.")
              
      .navbar-desktop.visible-lg-block
        ul.utility-nav
          li
            a(href="styleguide-elements.html") Styleguide
          li
            a(href="styleguide-components.html") Components
        ul.primary-nav
          li
            a(href="../product.html" target="_blank") Level One
            nav.navigation.desktop-mega-menu
              .container
                ul.col-md-3.list-unstyled
                  h3
                    small Level Two
                  li 
                    a(href="#") Level Three
                  li 
                    a(href="#") Level Three
                  li 
                    a(href="#") Level Three
                  li 
                    a(href="#") Level Three
                  li 
                    a(href="#") Level Three
                ul.col-md-3.list-unstyled
                  h3
                    small Level Two
                  li 
                    a(href="#") Level Three
                  li 
                    a(href="#") Level Three
                  li 
                    a(href="#") Level Three
                  li 
                    a(href="#") Level Three
                  li 
                    a(href="#") Level Three
                ul.col-md-3.list-unstyled
                  h3
                    small Level Two
                  li 
                    a(href="#") Level Three
                  li 
                    a(href="#") Level Three
                  li 
                    a(href="#") Level Three
                  li 
                    a(href="#") Level Three
                  li 
                    a(href="#") Level Three
                ul.col-md-3.list-unstyled
                  li
                    ul
                      h3
                        small Level Two
                      li 
                        a(href="#") Level Three
                  li
                    ul
                      h3
                        small Level Two
                      li 
                        a(href="#") Level Three
                  li
                    ul
                      h3
                        small Level Two
                      li 
                        a(href="#") Level Three
          li
            a(href="/styleguide/components.html" target="_blank") Level One
            nav.navigation.desktop-mega-menu
              .container
                ul.col-md-3.list-unstyled
                  h3
                    small Level Two
                  li 
                    a(href="#") Level Three
                  li 
                    a(href="#") Level Three
                ul.col-md-3.list-unstyled
                  h3
                    small Level Two
                  li 
                    a(href="#") Level Three
                  li 
                    a(href="#") Level Three
                ul.col-md-3.list-unstyled
                  h3
                    small Level Two
                  li 
                    a(href="#") Level Three
                  li 
                    a(href="#") Level Three
                ul.col-md-3.list-unstyled
                  li
                    ul
                      h3
                        small Level Two
                      li 
                        a(href="#") Level Three
                  li
                    ul
                      h3
                        small Level Two
                      li 
                        a(href="#") Level Three
          li
            a(href="/styleguide/pages/" target="_blank") Level One
          li
            a(href="/styleguide/pages/" target="_blank") Level One
          li
            a(href="../about.html") Level One
            nav.navigation.desktop-list-menu
              ul.list-unstyled
                li
                  a(href="#") Level Two
                li 
                  a(href="#") Level Two
                li 
                  a(href="#") Level Two
                li
                  a(href="#") Level Two
                li
                  a(href="#") Level Two
                li
                  a(href="#") Level Two
      .navbar-mobile.hidden-lg
        ul.mobile-nav
          li
            a(href="/styleguide/" target="_blank") 
              i.lnr.lnr-magnifier
          li
            a(href="/styleguide/components.html" target="_blank")
              i.lnr.lnr-user
          li
            a(href="/styleguide/components.html" target="_blank")
              i.lnr.lnr-cart
          li
            a(id="mobile-menu-trigger")
              i.lnr.lnr-menu
  
  nav.mobile-menu.hidden-lg
    ul
      li
        a(href="#").mobile-menu--level-one.mobile-menu-trigger--sub
          span.lnr.lnr-cart
          | Level One
          span.lnr.lnr-arrow-right
        ul
          li
            a(href="#").mobile-menu--back 
              span.lnr.lnr-arrow-left 
              | Back
              span.lnr
          li
            a(href="#").mobile-menu--level-two.mobile-menu-trigger--sub
              span.lnr
              | Level Two
              span.lnr.lnr-arrow-right
             ul
              li
                a(href="#").mobile-menu--back 
                  span.lnr.lnr-arrow-left 
                  | Back
                  span.lnr
              li
                a(href="#").mobile-menu--level-three
                  span.lnr
                  | Level Three
                  span.lnr.lnr-arrow-right
              li
                a(href="#").mobile-menu--level-three
                  span.lnr
                  | Level Three
                  span.lnr.lnr-arrow-right
              li
                a(href="#").mobile-menu--level-three
                  span.lnr
                  | Level Three
                  span.lnr.lnr-arrow-right
            li
              a(href="#").mobile-menu--level-two.mobile-menu-trigger--sub
                span.lnr
                | Level Two
                span.lnr.lnr-arrow-right
               ul
                li
                  a(href="#").mobile-menu--back 
                    span.lnr.lnr-arrow-left 
                    | Back
                    span.lnr
                li
                  a(href="#").mobile-menu--level-three
                    span.lnr
                    | Level Three
                    span.lnr.lnr-arrow-right
                li
                  a(href="#").mobile-menu--level-three
                    span.lnr
                    | Level Three
                    span.lnr.lnr-arrow-right
                li
                  a(href="#").mobile-menu--level-three
                    span.lnr
                    | Level Three
                    span.lnr.lnr-arrow-right
      li
        a(href="#").mobile-menu--level-one.mobile-menu-trigger--sub
          span.lnr
          | Level One
          span.lnr.lnr-arrow-right
        ul
          li
            a(href="#").mobile-menu--back 
              span.lnr.lnr-arrow-left 
              | Back
              span.lnr
          li
            a(href="#").mobile-menu--level-two.mobile-menu-trigger--sub
              span.lnr
              | Level Two
              span.lnr.lnr-arrow-right
             ul
              li
                a(href="#").mobile-menu--back 
                  span.lnr.lnr-arrow-left 
                  | Back
                  span.lnr
                a(href="#").mobile-menu--level-three
                  span.lnr
                  | Level Three
                  span.lnr.lnr-arrow-right
              li
                a(href="#").mobile-menu--level-three
                  span.lnr
                  | Level Three
                  span.lnr.lnr-arrow-right
              li
                a(href="#").mobile-menu--level-three
                  span.lnr
                  | Level Three
                  span.lnr.lnr-arrow-right
          li
            a(href="#").mobile-menu--level-two.mobile-menu-trigger--sub
              span.lnr
              | Level Two
              span.lnr.lnr-arrow-right
            ul
              li
                a(href="#").mobile-menu--back 
                  span.lnr.lnr-arrow-left 
                  | Back
                  span.lnr
              li
                a(href="#").mobile-menu--level-three
                  span.lnr
                  | Level Three
                  span.lnr.lnr-arrow-right
              li
                a(href="#").mobile-menu--level-three
                  span.lnr
                  | Level Three
                  span.lnr.lnr-arrow-right
              li
                a(href="#").mobile-menu--level-three
                  span.lnr
                  | Level Three
                  span.lnr.lnr-arrow-right
          li
            a(href="#").mobile-menu--level-two
              span.lnr
              | Level Two
              span.lnr.lnr-arrow-right
          li
            a(href="#").mobile-menu--level-two
              span.lnr
              | Level Two
              span.lnr.lnr-arrow-right

      li 
        a(href="#").mobile-menu--level-one.mobile-menu-trigger--sub 
          span.lnr
          | Level One
          span.lnr.lnr-arrow-right
        ul
          li
            a(href="#").mobile-menu--back 
              span.lnr.lnr-arrow-left 
              | Back
              span.lnr
          li
            a(href="#").mobile-menu--level-two
              span.lnr
              | Level Two
              span.lnr.lnr-arrow-right
          li
            a(href="#").mobile-menu--level-two
              span.lnr
              | Level Two
              span.lnr.lnr-arrow-right
          li
            a(href="#").mobile-menu--level-two
              span.lnr
              | Level Two
              span.lnr.lnr-arrow-right
          li
            a(href="#").mobile-menu--level-two
              span.lnr
              | Level Two
              span.lnr.lnr-arrow-right
      li 
        a(href="#").mobile-menu--level-one
          span.lnr
          | Level One
          span.lnr.lnr-arrow-right
      li 
        a(href="#").mobile-menu--level-one
          span.lnr.lnr-diamond
          | Level One
          span.lnr.lnr-arrow-right
      li 
        a(href="#").mobile-menu--level-one
          span.lnr.lnr-phone-handset
          | Level One
          span.lnr.lnr-arrow-right
      li
        a(href="#").mobile-menu--level-one
          span.lnr.lnr-cart
          | Level One
          span.lnr.lnr-arrow-right
<!-- /HEADER -->
