//-
//- @page: Project Index
//- @group: Global
//- @type:
//- @description:
//- @author:
//- @comments:
//-
doctype html
html(lang="en")
  head
    title Project Title
    meta(charset="utf-8")
    meta(name="apple-mobile-web-app-capable" content="yes")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css")
    link(type="text/css" rel="stylesheet" media="all" href="css/stylesheet.css")
    link(type="text/css" rel="stylesheet" media="all" href="css/styleguide.css")
  body
    header
      div.container-fluid
        nav.navigation
          a(href="index.html").navbar-logo
                picture.logo
                  source(media="(max-width: 550px)",srcset="assets/logo-small.png")
                  source(src="assets/logo.png")
                  img(src="assets/logo.png",alt="This picture loads on non-supporting browsers.")
    article(class="container")
      h3 Global Elements
      ul
        li
          a(href="styleguide-elements.html") Styleguide
        li
          a(href="styleguide-components.html") Components
      h3 Page Examples
      ul
        li
          a(href="product-listing.html") Product Listing Three Column
        li
          a(href="product-listing-4.html") Product Listing Four Column
 block scripts
      script(type="text/javascript" src="/js/libs.min.js")
      script(type="text/javascript" src="/js/main.min.js")