//-
//- @partial: Footer
//- @group: Global
//- @type:
//- @description:
//- @author:
//- @comments:
//-
<!-- FOOTER -->
footer
    .container
        .row
            .col-md-4
                section.accordion.accordion-mobile
                    h3.collapsed.accordion-trigger(data-toggle="collapse",href="#accordion-products",aria-expanded="false",aria-controls="collapseExample") Footer Navigation Header
                        span.accordion-icon.hidden-lg
                    ul(id="accordion-products").list-unstyled.collapse
                        li 
                            a(href="#") Footer Navigation Item
                        li 
                            a(href="#") Footer Navigation Item
                        li 
                            a(href="#") Footer Navigation Item
                        li 
                            a(href="#") Footer Navigation Item
                        li 
                            a(href="#") Footer Navigation Item
                        li 
                            a(href="#") Footer Navigation Item
                section.accordion.accordion-mobile
                    h3.collapsed.accordion-trigger(data-toggle="collapse",href="#accordion-brands",aria-expanded="false",aria-controls="collapseExample") Footer Navigation Header
                        span.accordion-icon.hidden-lg
                    ul(id="accordion-brands").list-unstyled.collapse
                        li 
                            a(href="#") Footer Navigation Item
                        li 
                            a(href="#") Footer Navigation Item
            .col-md-4
                section.accordion.accordion-mobile
                    h3.collapsed.accordion-trigger(data-toggle="collapse",href="#accordion-other-resources",aria-expanded="false",aria-controls="collapseExample") Footer Navigation Header
                        span.accordion-icon.hidden-lg
                    ul(id="accordion-other-resources").list-unstyled.collapse
                        li 
                            a(href="#") Footer Navigation Item
                        li 
                            a(href="#") Footer Navigation Item
                        li 
                            a(href="#") Footer Navigation Item
                        li 
                            a(href="#") Footer Navigation Item
                        li 
                            a(href="#") Footer Navigation Item
                        li 
                            a(href="#") Footer Navigation Item
                        li 
                            a(href="#") Footer Navigation Item
                        li
                            a(href="#") Footer Navigation Item

            .col-md-4
                section.accordion.accordion-mobile
                    h3.collapsed.accordion-trigger(data-toggle="collapse",href="#accordion-community",aria-expanded="false",aria-controls="collapseExample") Footer Navigation Header
                        span.accordion-icon.hidden-lg
                    ul(id="accordion-community").list-unstyled.collapse
                        li 
                            a(href="#") Footer Navigation Item
                        li 
                            a(href="#") Footer Navigation Item
                        li 
                            a(href="#") Footer Navigation Item
                ul.list-unstyled.social-list
                    li
                        a(href="#")
                            i.fa.fa-twitter
                    li
                        a(href="#")
                            i.fa.fa-linkedin
                    li
                        a(href="#")
                            i.fa.fa-youtube
                    li
                        a(href="#")
                            i.fa.fa-facebook
                    li
                        a(href="#")
                            i.fa.fa-pinterest-p
                ul.list-unstyled
                    h3 Sign Up
                        input(type="text", placeholder="Sign Up")
<!-- /FOOTER -->
