//-
//- @page: UI Components
//- @group: Styleguide
//- @type:
//- @description:
//- @author:
//- @comments:
//-
extend ../../layouts/components.jade
include components/badges.jade

include components/text.jade
include components/flexspace.jade

include components/richtext.jade
include components/social.jade

include components/filter.jade

include components/accordion.jade
mixin ui-components()
  section.component
    +textspace()
    +social()
    +filter()
    +accordion()
    +richtext()
    +flexspace()
