//-
//- @component: Colors
//- @group: Styleguide
//- @type:
//- @description:
//- @author:
//- @comments:
//-
mixin colors()
    .line-item
      .content
        .color
          .swatch.level-1.bkgd-white(title="$white")
          p.white.bkgd-black(title="$white") This is Horizontal Integration Branded White. Hex: ffffff
 
      
    .line-item
      .content
        .color
          .swatch.level-1.bkgd-black(title="$black")
          p.black(title="$black") This is Horizontal Integration Branded Black. Hex: 231f20
     


      
    .line-item
      .content
        .color
          .swatch.level-1.bkgd-gray(title="$gray")
          p.gray(title="$gray") This is Horizontal Integration Branded Gray. Hex: 53555a
      


      
    .line-item
      .content
        .color
          .swatch.level-1.bkgd-x-purple(title="$x-purple")
          p.x-purple(title="$x-purple") This is Horizontal Integration Branded Blue. Hex: 915ca4


      
    .line-item
      .content
        .color
          .swatch.level-1.bkgd-x-orange(title="$x-orange")
          p.x-orange(title="$x-orange") This is Horizontal Integration Branded Red. Hex: e98b00
      
