//-
//- @component: Forms
//- @group: Styleguide
//- @type:
//- @description:
//- @author:
//- @comments:
//-
mixin forms()
     form
        .form-group
          label(for="username") Username
          input(type="text", placeholder="Username")
        .form-group
          label(for="password") Password
          input(type="password", placeholder="Password")
        .checkbox
            label
                | Right Aligned Checkbox
                input(type="checkbox")
                span.psuedo-input
        .checkbox.checkbox-left
            label
                | Left Aligned Checkbox
                input(type="checkbox")
                span.psuedo-input