//-
//-
//- @component: Grid
//- @group: Styleguide

mixin grid()
    .container
      .row(style="margin-right: 0;margin-left: 0;")
        .col-sm-12.col-md-4 This is a 1/3 grid
        .col-sm-12.col-md-4 This is a 1/3 grid
        .col-sm-12.col-md-4 This is a 1/3 grid
    .container
      .row(style="margin-right: 0;margin-left: 0;")
        .col-sm-12.col-md-6 This is a 1/2 grid
        .col-sm-12.col-md-6 This is a 1/2 grid
    .container
      .row(style="margin-right: 0;margin-left: 0;")
        .col-sm-12.col-md-12 This is a full width grid
