//-
//- @component: Headings
//- @group: Styleguide
//- @type:
//- @description:
//- @author:
//- @comments:
//-
mixin headings()
    .line-item
      .content
        h1.heading-one Heading One - 55px
      //code.code-name h1

    .line-item
      .content
        h2.heading-two Heading Two - 36px
      //code.code-name h2

    .line-item
      .content
        h3.heading-three Heading Three - 30px
      //code.code-name h3

    .line-item
      .content
        h4.heading-four Heading Four - 24px
      //code.code-name h4

    .line-item
      .content
        h5.heading-five Heading Five - 20px
      //code.code-name h5
