//-
//- @component: Paragraphs
//- @group: Styleguide
//- @type:
//- @description:
//- @author:
//- @comments:
//-
mixin lists()
    
    .line-item
      h3 Unordered List:
      ul
        li Unordered List Item 1
        li Unordered List Item 2
        li Unordered List Item 3

    .line-item
      h3 Ordered List:
      ol
        li Ordered List Item 1
        li Ordered List Item 2
        li Ordered List Item 3

    .line-item
      h3 Unstyled List:
      ul.list-unstyled
        li Unstyled List Item 1
        li Unstyled List Item 2
        li Unstyled List Item 3

    .line-item
      h3 Unstyled Link List:
      ul.list-unstyled
        li 
          a(href="#") Unstyled Link List Item 1
        li
          a(href="#") Unstyled Link List Item 2
        li
          a(href="#") Unstyled Link List Item 3