//-
//- @component: Typography
//- @group: Styleguide
//- @type:
//- @description:
//- @author:
//- @comments:
//-
mixin typography()
    .line-item
      .content
        p The Font Family that has been chosen to be used on Horizontal Integration Properties is Frutiger. 20px font size with a 1.5em line height.
        p <em>This is an example of Frutiger Light</em>
        p <strong> This is an example of Frutiger Heavy </strong>